<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=GBK" />
<title>EasyTalk 后台管理系统 | powered by 9italk.com</title>
<link id="mastercss" rel="stylesheet" href="images/style.css" type="text/css" media="screen" />
</head>
<body>

<div id="wrap">
<div id="header">
<h2><a href="index.php" title="超级大富翁"><img src="images/logo.gif" alt="超级大富翁" /></a></h2>
</div>
<div id="content">