<div id="stream" class="message top10">
<ol class="wa">
<!--{if ($i>0)}-->
    <!--{loop $replies $key $val}-->
    <li class="unlight">
    <a href="{$webaddr}/home/u.{$val[home_uid]}" title="{$val[home_uname]}" class="avatar"><img src="{$val[home_uhead]}" alt="{$val[home_uname]}" /></a>
    <a href="{$webaddr}/home/u.{$val[home_uid]}" class="author">{$val[home_uname]}</a>
    <span class="content">{$val[topic_body].$val[content]}</span><br/>
    <span class="stamp">
        <a href="{$webaddr}/op/view/{$val[contentid]}">{$val[posttime]}</a>
        <span class="method">通过{$val[type]} 
        <!--{if ($val[statusid])}-->
            <!--{if ($val[status_type]=="talk")}-->
                <a href="{$webaddr}/op/view/{$val[statusid]}">给我的回复</a>
            <!--{elseif ($val[status_type]=="photo")}-->
                <a href="{$webaddr}/op/viewphoto/{$val[statusid]}">给我的相片的回复</a>
            <!--{/if}-->
        <!--{/if}-->
        </span>
    </span>
    <span class="op">
        <a class="share" title="添加到我的收藏" href="javascript:void(0)" onclick="send_f('{$val[contentid]}')">收藏</a>
        <!--{if ($val[home_uid]!=$my[user_id])}-->
        <a class="reply" title="回复{$val[home_uname]}" href="{$webaddr}/home?to={$val[home_uname]}&status_id={$val[contentid]}">回复</a>
        <!--{/if}-->
    </span>
    </li>
    <!--{/loop}-->
<!--{else}-->
    <li class="unlight">这里什么信息都没有</li>
<!--{/if}-->
</ol>
</div>

<!--{if ($pg_num>1)}-->
<ul class="paginator">
    <!--{if ($pp>0)}-->
        <li><a href='#' onclick="showhome('replies','{$user[user_id]}','{$pp}')" title='上一页' >上一页</a></li>
    <!--{/if}-->
    <!--{if ($np<=$pg_num)}-->
        <li><a href='#' onclick="showhome('replies','{$user[user_id]}','{$np}')" title='下一页' >下一页</a></li>
    <!--{/if}-->
</ul>
<!--{/if}-->