{template "header.htm"}
<table id="columns">
<tr>
<td id="main">
    <div id="featured">
        <h2>找回密码</h2>
        <form method="post" action="{$webaddr}/op/reset" class="vf lf">
        <p>
            <label class="label_input" for="mailadres">注册的Email</label>
            <input tabindex="1" type="text" id="mailadres" name="mailadres" class="input_text" onclick="value=''" />
        </p>
        <p class="act">
            <input type="hidden" name="action" value="find" />
            <input tabindex="2" type="submit" class="formbutton" value="找回密码" />
        </p>
        </form>
    </div>
    <div class="resetbottom">
        <p><a href="{$webaddr}/op/login">立即登录</a> or <a href="{$webaddr}/op/register">立即注册</a></p>
    </div>
</td>
<td id="sidebar">
    <div class="sect first-sect">
        <p><h2>记录知识</h2>虽然都是些不痛不痒的知识</p><br/><br/><br/>
        <p><h2>随时随地</h2>手机上网、机器人、网页等，多种渠道更新（敬请期待）</p><br/><br/><br/>
        <p><h2>快速分享</h2>将你的知识即时分享给好友也能随时获得好友的知识</p>
    </div>
</td>
</tr>
</table>
{template "foot.htm"}