{template "header.htm"}
<div id="body" class="ui-roundedbox"><div class="ui-roundedbox-corner ui-roundedbox-tl"><div class="ui-roundedbox-corner ui-roundedbox-tr"><div class="ui-roundedbox-corner ui-roundedbox-bl"><div class="ui-roundedbox-corner ui-roundedbox-br"><div class="ui-roundedbox-content">
<div id="info" style="padding:20px">
<form action="{$webaddr}/op/sendmsg" method="post" name="message" onSubmit="return isfun()" onkeydown="if(event.ctrlKey&&event.keyCode==13)this.submit()">
    <table style="margin-top:5px">
    <tr>
        <td><a href="{$webaddr}/home/u.{$uid}"><img title="{$uname}" alt="{$uname}" src="{$uhead}" width="120px"/></a></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <!--{if ($uissendmsg==1 && $isfriend[allfri]==0 && $uid!=$my[user_id])}-->
        <td><h2>给 {$uname} 发私信</h2><br/>
        <div class="tip">“{$uname}” 设置了防打搅设置，只有TA的好友才可以给TA发私信哦！</div>
        <!--{else}-->
        <td><h2>给 {$uname} 发私信&nbsp;&nbsp;<font style="color:#E0E0E0">Ctrl+Enter可直接发表</font><span class="headgray" style="margin-left:10px">(<span id="nums">0</span>/140)</span></h2><br/>
        <textarea name="content" id="contentbox" rows="4"  cols="40" style="width:350px;"></textarea></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
            <br/><br/>
            <input type="hidden" name="fuid" value="{$uid}" />
            <input type="hidden" name="action" value="send" />
            <input type="submit" class="formbutton" value="发私信"/>
        </td>
        <!--{/if}-->
    </tr>
    </table>
    <div id="latest"><h2><span class="stamp"><a href="{$webaddr}/home/u.{$uid}">返回{$uname}的空间</a></span></h2></div>
</form>
</div>
</div></div></div></div></div></div>
</div>
</body>
</html>



